.boxPictureFluid {
    /* background-color: darkblue; */
    border-style: solid;
    border-color: darkgoldenrod;
    border-radius: 0.25em;
    margin-bottom: 1%;
    width: 100%;
}

.jumbotornImage {
    width: 100%;
    background-color: black;
}

.textRuning {
    border-style: solid;
    background-color: rgba(94, 91, 91, 0.404);
    border-color: darkgoldenrod;
    width: 100%;
    margin-bottom: 1.2%;
}

body {
    background-color: black;
}

.banditImage {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.breadcump {
    border-style: solid;
    background-color: black;
    border-color: darkgoldenrod;
    width: 100%;
    margin-bottom: 1.2%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
